     * {
        box-sizing: border-box;
      }

      body {
        font-family: "Nunito Sans", serif;
        margin: 0;
        background-color: #e5e5e5;
      }

      .wrapper {
        margin: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-auto-rows: minmax(52px, auto);
      }

      header {
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
        margin: 0;
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        grid-column: 1 / 22;
        grid-row: 1 ;
        position: -webkit-sticky; /* Para compatibilidad con Safari */
        position: sticky;
        top: 0;
        transition: background-color 0.3s ease ; /* Animación suave del fondo */
        z-index: 1000;
      }

      header.scrolled {
        background-color: #e5e5e5; /* Fondo blanco cuando se desplaza */
        color: black;
        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
      }

      .sd {
        text-align: center;
        margin: 0;
        color: white;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .info {
        margin: 0;
        padding: 0;
        font-size: 20px;
        margin: 15px;
      }

      .subtitle {
        font-size: 40px;
        margin: 20px 15px;
      }

      h3 {
        font-size: 26px;
        margin: 20px 15px;
      }

      .slogan {
        font-size: 30px;
        margin: 20px 15px;
        color: white;
        font-family: "PT Serif", serif;
        letter-spacing: 1px;
        font-style: italic;
      }


header {
background-color: rgba(0, 0, 0, 0.493);
color: white;
margin: 0;
padding-top: 0;
padding-bottom: 10px;
margin-bottom: 0;
grid-column: 1 / 22;
grid-row: 1 ;
position: -webkit-sticky; /* Para compatibilidad con Safari */
position: sticky;
top: 0;
transition: background-color 0.3s ease ; /* Animación suave del fondo */
z-index: 1000;
}


.sd {
text-align: center;
margin: 0;
color: white;
background: linear-gradient(to right, #000B18 15%, #00264D 100%);
padding-bottom: 10px;
padding-top: 10px;
}

.info {
margin: 0;
padding: 0;
font-size: 20px;
margin: 15px;
}

.subtitle {
font-size: 40px;
margin: 20px 15px;
}

h3 {
font-size: 26px;
margin: 20px 15px;
}

.slogan {
font-size: 30px;
margin: 20px 15px;
color: white;
font-family: "PT Serif", serif;
letter-spacing: 1px;
font-style: italic;
}


.links {
display: flex;
justify-content: center; /* Centrar horizontalmente */
align-items: flex-end; /* Alinear al fondo del contenedor */
height: 50px; /* Ajusta la altura según sea necesario */
margin-top: 10px;
}

.links a {
margin: 0 10px; /* Espaciado entre enlaces */
color: white;
font-size: 19px;  
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
transition: 0.3s;
}

      .links button {
        background-color: rgba(255, 0, 0, 0);
        color: white;
        border: none;
        font-size: 18px;
        cursor: pointer;
        border-radius: 25px;
        transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
      }

      .links button:hover {
        transform: scale(1.10); /* Efecto de ligera expansión */
      }

.links a:hover {
transform: scale(1.10); /* Efecto de ligera expansión */
}


            header.scrolled .links button{
        color: black; /* Color de los enlaces cuando se desplaza */
      }


header.scrolled .links a {
color: black; /* Color de los enlaces cuando se desplaza */
}


header.scrolled .links a:hover {
color: #1A375E; /* Color de los enlaces cuando se desplaza */
}


      .two {
        grid-column: 1 / 22;
        grid-row: 1 / 13;
        background-image: url(../nosotros/images/nosotros.png);
        background-size: cover;
      }

      .twotwo {
        grid-column: 13 / 20;
        grid-row: 4/ 7  ;
        background-color: rgba(0, 0, 0, 0.603);
        border-radius: 15px;
        color: white;
      }

      .twotwo .subtitle {
        color:  #e5e5e5;
        text-shadow: 1px 2px 3px #6cbfc6;
      }

      .three {
        grid-column: 4 / 10;
        grid-row: 9/ 11  ;
        background-color: rgba(0, 0, 0, 0.603);
        border-radius: 15px;
        color: white;
        text-align: center;
      }

      .four {
        grid-column: 1 / 22;
        grid-row: 13/ 15  ;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        color: white;
        text-align: center;
      }

      .five {
        grid-column: 1 / 22;
        grid-row: 33/ 40  ;
        background: url(/src/pages/nosotros/images/Banner\ Fondo\ Transparente.png);
        color: white;
        text-align: center;
      }

      .six {
        grid-column: 12 / 20;
        grid-row: 17/ 22;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        color: black;
        padding: 30px;
        border-radius: 0 15px 15px 0;
      }

      .six h2 {
        font-size: 40px;
        color: white;
        text-align: center;
        text-shadow: white 1px 0 10px;
      }
      .six li {
        font-size: 19px;
        color: white;
        text-shadow: white 1px 0 10px;
      }

      .seven {
        grid-column: 3 / 12;
        grid-row: 16/ 23  ;
        background: url(../nosotros/images/equipo.png);
        background-size: cover;
        color: white;
        text-align: center;
      }

      .eight {
        grid-column: 2 / 11;
        grid-row: 24/ 28  ;
        color: black;
        text-align: center;
      }

      .eight p {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
      }
      .nine {
        grid-column: 11 / 21;
        grid-row: 24/ 28  ;
        color: black;
        text-align: center;
      }
      .nine p {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
      }

      .ten{
        grid-column: 3 / 12;
        grid-row: 30 / 38;
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
        padding: 30px;
        border-radius: 15px 0 0 15px;
      }

      .ten h2 {
        font-size: 40px;
        color: white;
        text-align: center;
        text-shadow: white 1px 0 10px;
      }

      .ten li {
        font-size: 19px;
        color: white;
        text-shadow: white 1px 0 10px;
        padding-left: 50px;
      }

      .eleven {
        grid-column: 12 / 20;
        grid-row: 29 / 39;
        background-size: cover;
        text-align: center;
      }
      .nineteen {
        grid-column: 1 / 22;
        grid-row: 40 / 44;
        background-color: #ade0de;
        text-align: center;
      }

      .nineteen button:hover {
        background: linear-gradient(to bottom right, #00628b 1%, #0084a2 25%, #00b8bc 100%);
      }

      .twenty { 
        grid-column: 1 / 22;
        grid-row: 44 / 46;
        background-color: #6cbfc6;
        text-align: center;
      }

      .footer {
    background-color: #061d25;
    color: white;
    padding: 30px 20px;
    text-align: left;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3 {
    color: #6cbfc6;
    margin-bottom: 10px;
}

.footer-section a {
    color: #ade0de;
    text-decoration: none;
    transition: color 0.3s; 
}

.footer-section li {
    margin: 10px; 
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #6cbfc6;
}

ul {
  list-style-type: none;
}

.general-boton {
        background-color: #6cbfc6;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 20px ;
        cursor: pointer;
        border-radius: 25px;
        transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
      }

      .general-boton:hover {
    background: linear-gradient(to bottom right, #00628b, #0084a2, #00b8bc);
    transform: scale(1.05); /* Efecto de ligera expansión */
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.four, .ten{
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

/* RESPONSIVE */

/*      RESPONSIVE PARA TABLET   1250px  */

@media (max-width: 1250px) {
  
  .wrapper {
    grid-template-columns: repeat(16, 1fr);
  }

  .two {
    grid-column: 1 / 17;
    grid-row: 1 / 11;
  }

  .twotwo {
    grid-column: 8 / 16;
    grid-row: 4/ 7  ;
  }

  .three {
    grid-column: 3 / 9;
    grid-row: 8/ 10  ;
  }

  .four {
    grid-column: 1 / 17;
    grid-row: 11;
  }

  .six {
  grid-column: 8 / 17;
  grid-row: 12;
  margin: 15px;
  border-radius: 10px;
  }

  .seven {
    grid-column: 1 / 9;
    grid-row: 12;
    margin: 15px;
    margin-right: 41px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .eight {
    grid-column: 1 / 9;
    grid-row: 13;
    margin: 15px;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .eight .info {
    margin: 10px
  }

  .nine {
    grid-column: 9 / 17;
    grid-row: 13;
    margin: 15px;
    margin-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nine .info {
    margin: 10px
  }

  .ten {
    grid-column: 1 / 9;
    grid-row: 14;
    margin: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .eleven {
    grid-column: 8 / 17;
    grid-row: 14;
    margin: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .five {
    grid-column: 1 / 17;
    grid-row: 14 / 17;
  }

  .nineteen {
    grid-column: 1 / 17;
    grid-row: 17 / 20;
  }

  .twenty {
    grid-column: 1 / 17;
    grid-row: 20 / 21;
  }
}

/*      RESPONSIVE PARA TABLET   1024px  */

@media (max-width: 1024px) {

  .nineteen {
    grid-column: 1 / 17;
    grid-row: 17 / 21;
  }

  .twenty {
    grid-column: 1 / 17;
    grid-row: 21 / 43;
  }
}

/*      RESPONSIVE    1010px  */

@media (max-width: 1010px) {

  .twenty {
    grid-column: 1 / 17;
    grid-row: 21
  }

  .slogan {
    font-size: 25px;
  }
}

/*  RESPONSIVE 768px   */

@media (max-width: 768px) {

.wrapper {
  grid-template-columns: repeat(11, 1fr);
}

.header
{
  padding-top: 0;
  padding-bottom: 0;
}

.links a {
  font-size: 16px;
}

.two {
  grid-column: 1 / 12;
  grid-row: 1 / 10;
}

.twotwo {
  grid-column: 5 / 12;
  grid-row: 5 / 8;
  margin-right: 10px;
}

.three {
  grid-column: 1 / 9;
  grid-row: 8;
  margin-left: 10px;
  margin-top: 10px;
}

.four {
  grid-column: 1 / 12;
  grid-row: 10;
  }

  .seven {
    grid-column: 1 / 7;
    grid-row: 12;
  }

  .six {
    grid-column: 6 / 12;
    grid-row: 12;
    padding-right: 10px;
  }

  .six li {
    font-size: 16px;
  }

  .eight {
    grid-column: 1 / 6;
    grid-row: 13;
    margin:0;
  }

  .eight .info {
    margin: 0;
    margin-left: 10px;
  }

  .nine {
    grid-column: 7 / 12;
    grid-row: 13;
    margin: 0;
  }

  .nine .info {
    margin: 0;
  }

  .ten {
    grid-column: 1 / 7;
    grid-row: 14;
  }

  .eleven {
    grid-column: 6 / 12;
    grid-row: 14;
  }
}

/*  RESPONSIVE 600px   */

.menu-toggle, .close-menu {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        color: black;
        cursor: pointer;
    }

    @media (max-width: 600px) { 

        .menu-toggle {
            display: block;
        }


        header.scrolled .links a {
        color: #e5e5e5; /* Color de los enlaces cuando se desplaza */
      }
        .links {
            position: fixed;
            top: 0;
            left: -100%;
            width: 250px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);
            flex-direction: column;
            align-items: start;
            padding: 60px 20px;
            transition: left 0.3s ease-in-out;
        }

        .links a {
            display: block;
            font-size: 20px;
            padding: 10px 0;
            color: white;
        }

        .links.active {
            left: 0;
            color: white;
        }

        .close-menu {
            display: block;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 28px;
            color:white;
        }

        .sd {
            font-size: 14px;
        }

        .info {
            font-size: 16px;
        }

        .subtitle {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
        }

        .slogan {
            font-size: 15px;
        }

        .servicios-nombre {
            font-size: 16px;
        }

        .servicios-boton {
            font-size: 16px;
        }

        .general-boton {
            font-size: 16px;
        }

        .footer-section h3 {
            font-size: 18px;
        }

        .footer-section a {
            font-size: 16px;
        }

        .footer-bottom {
            font-size: 14px;
        }

        .six {
            grid-column: 1 / 12;
            grid-row: 11 /13;
            
        }

        .seven {
            grid-column: 1 / 12;
            grid-row: 13 / 18;
            margin: 15px;
            border-radius: 10px;
        }

        .eight {
            grid-column: 1 / 12;
            grid-row: 18;
            padding: 20px;
        }

        .nine {
            grid-column: 1 / 12;
            grid-row: 19;
            padding: 20px;
        }

        .ten {
            grid-column: 1 / 6;
            grid-row: 20;
            padding: 20px;
        }

        .ten li {
            font-size: 16px;
            padding: 0;
        }

        .eleven {
            grid-column: 5 / 12;
            grid-row: 20;
            padding: 20px;
        }

        .nineteen {
            grid-column: 1 / 12;
            grid-row: 23;
        }

        .twenty {
            grid-column: 1 / 12;
            grid-row: 24;
        }

        .five {
            grid-column: 1 / 12;
            grid-row: 20 /23;
            padding: 20px;
        }
      }

      @media (max-width: 430px) {

        .wrapper {
          grid-template-columns: repeat(6, 1fr);
        }

        .two {
          grid-column: 1 / 7;
          grid-row: 1 / 11;
        }

        .twotwo {
          grid-column: 1 / 7;
          grid-row: 7 / 10;
          margin: 0;
          border-radius: 0;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          
        }

        .three {
          grid-column: 1 / 7;
          grid-row: 10;
          margin: 0;
          border-radius: 0;
        }

        .four {
          grid-column: 1 / 7;
          grid-row: 11;
          margin: 0;
          border-radius: 0;
        }

        .six {
          grid-column: 1 / 7;
          grid-row: 12;
          margin: 0;
          border-radius: 0;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        .seven {
          border: solid grey 1px;
          background-size: cover;
        }

        .ten {
          grid-column: 1 / 7 ;
          border-radius: 10px;
        }

        .eleven {
          grid-column: 1 /7;
          grid-row: 21 / 26;
          border: solid grey 1px;
          border-radius: 10px;
          background-size: cover;
        }

        .five {
          grid-column: 1 / 7;
          grid-row: 24 / 27;
        }

        .nineteen {
          grid-column: 1 / 7;
          grid-row: 27;
        }

        .twenty {
          grid-column: 1 / 7;
          grid-row: 28;
        }

        .sd {
      padding: 10px;
    }
  }