 * {
box-sizing: border-box;
}

body {
font-family: "Nunito Sans", serif;
margin: 0;
background: linear-gradient(to right, #000B18 15%, #00264D 100%);
}

.wrapper {
margin: 0;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(21, 1fr);
grid-auto-rows: minmax(52px, auto);
}

header {
background-color: rgba(0, 0, 0, 0.493);
color: white;
margin: 0;
padding-top: 0;
padding-bottom: 10px;
margin-bottom: 0;
grid-column: 1 / 22;
grid-row: 1 ;
position: -webkit-sticky; /* Para compatibilidad con Safari */
position: sticky;
top: 0;
transition: background-color 0.3s ease ; /* Animación suave del fondo */
z-index: 1000;
}

header.scrolled {
background-color: #e5e5e5; /* Fondo blanco cuando se desplaza */
color: black;
box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0px 6px 5px 0px rgba(135, 207, 235, 0.555);
}

.sd {
text-align: center;
margin: 0;
color: white;
background: linear-gradient(to right, #000B18 15%, #00264D 100%);
padding-bottom: 10px;
padding-top: 10px;
}

.info {
margin: 0;
padding: 0;
font-size: 20px;
margin: 15px;
}

.subtitle {
font-size: 40px;
margin: 20px 15px;
color: #ffffff;
text-shadow: 1px 2px 2px white;
}

h3 {
font-size: 26px;
margin: 20px 15px;
}

.slogan {
font-size: 30px;
margin: 20px 15px;
color: white;
font-family: "PT Serif", serif;
letter-spacing: 1px;
font-style: italic;
}


.links {
display: flex;
justify-content: center; /* Centrar horizontalmente */
align-items: flex-end; /* Alinear al fondo del contenedor */
height: 50px; /* Ajusta la altura según sea necesario */
margin-top: 10px;
}

.links a {
margin: 0 10px; /* Espaciado entre enlaces */
color: white;
font-size: 19px;  
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
transition: 0.3s;
}

      .links button {
        background-color: rgba(255, 0, 0, 0);
        color: white;
        border: none;
        font-size: 18px;
        cursor: pointer;
        border-radius: 25px;
        transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
      }

      .links button:hover {
        transform: scale(1.10); /* Efecto de ligera expansión */
      }

.links a:hover {
transform: scale(1.10); /* Efecto de ligera expansión */
}


            header.scrolled .links button{
        color: black; /* Color de los enlaces cuando se desplaza */
      }


header.scrolled .links a {
color: black; /* Color de los enlaces cuando se desplaza */
}


header.scrolled .links a:hover {
color: #1A375E; /* Color de los enlaces cuando se desplaza */
}

li {
list-style-type: none;
margin: 10px;
}

.two {
grid-column: 1 / 22;
grid-row: 1 / 16; 
background-color: linear-gradient(to right, #000B18 15%, #00264D 100%);;
background-image: url(../img/fondodeepfakes2.png);
background-size: cover;

}

.twotwo {
grid-column: 3 / 10;
grid-row: 4 / 10;
background-color: rgba(153, 153, 153, 0.4); /* Blanco semi-transparente (40% opacidad) */
backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
border: 3px solid skyblue;
border-radius: 15px;
color: white;
}

.three {
grid-column: 1 / 22;
grid-row: 16 / 18;
background: linear-gradient(to bottom right, rgb(50, 112, 228), rgb(110, 214, 255));
text-align: center ;
}


.five {
grid-column: 3 / 10;
grid-row: 19 / 24;
}

.six {
grid-column: 3 / 11;
grid-row: 25 / 30;
}

.seven {
grid-column: 12 / 20;
grid-row: 19 / 30;
margin-bottom: 130px
}

.info-list li {
margin: 20px;
margin-bottom: 0;
font-size: 18px;
color: white;
list-style-type: disc;
}

.eight {
display: block;
height: 39%;
background: url(../img/foto1.png);
border: 3px solid skyblue;
background-size: cover;
text-align: center;
padding-bottom: 20px;
border-radius: 30px;
color: white ;
margin: 0;
margin-top: 0;
}

.redes {
display: flex;
justify-content: center;
align-items: center;
font-size: 35px;
gap: 25px;
text-decoration: none;
}

.redes a {
color: #004757;
text-decoration: none;
background-color: #e5e5e5;
padding: 6px 14px;
border: solid 1px black;
border-radius: 50px;
}

.redes a:hover {
background: #1A375E;
color: #004757;
transition:0.3s ease-in-out;
transform: scale(1.15);
}

.contacto {
display: flex;
flex-direction: column;
justify-content: center;
font-size: 20px;
}

.contacto li {
display: flex;
align-items: center;
gap: 20px;
}
.contacto i {
display: flex;
align-items: center;
font-size: 28px;
gap: 20px;
color: #00628b;
}

.sixteen {
grid-column: 14 / 19;
grid-row: 48 / 51;
margin: 12px;
background: #255079;
border: solid 1px grey;
text-align: center;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.sixteensixteen {
grid-column: 14 / 19;
grid-row: 44 / 49;
margin: 12px;
background-image: url(/src/images/servicio\ medico.png);
background-size: cover;
border: solid 1px grey;
text-align: center;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.servicios-nombre {
font-size: 20px;
margin-top: 50px;
color: white;
} 

.servicios-boton {
background-color: #ffffff;
color: #0084a2;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-bottom: 20px ;
cursor: pointer;
border-radius: 25px;
transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.servicios-boton:hover {
background-color: #1A375E;
color: #255079;
transform: scale(1.05); /* Efecto de ligera expansión */
}
.subtitle , .info, .subtitle h3, .slogan, .servicios-nombre {
color: white;
}
.general-boton {
background-color: #255079;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin-bottom: 20px ;
cursor: pointer;
border-radius: 25px;
transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.general-boton:hover {
background: linear-gradient(to bottom right, #00628b, #0084a2, #00b8bc);
transform: scale(1.05); /* Efecto de ligera expansión */
}


.nineteen {
grid-column: 1 / 22;
grid-row: 32 / 36;;
background: linear-gradient(to bottom right, rgb(50, 112, 228), rgb(110, 214, 255));
text-align: center;
}

.nineteen button:hover {
background: #1A375E;
}


.thirty {
grid-column: 1 / 22;
grid-row: 36 / 38;
background-color: #6cbfc6;
text-align: center;
}

.footer {
background-color: #031933;
color: white;
padding: 30px 20px;
text-align: left;
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 1200px;
margin: auto;
}

.footer-section {
flex: 1;
min-width: 250px;
margin: 10px;
}

.footer-section h3 {
color: #6cbfc6;
margin-bottom: 10px;
}

.footer-section a {
color: #ade0de;
text-decoration: none;
transition: color 0.3s; 
}

.footer-section a:hover {
color: #ffffff;
}

.footer-bottom {
margin-top: 20px;
padding-top: 15px;
border-top: 1px solid #6cbfc6;
}

@keyframes show {
from {
    opacity: 0;
    scale: 25%;
}

to {
    opacity: 1;
    scale: 100%;
}
}

.three, .eight{
view-timeline-name: --image;
view-timeline-axis: block;

animation-timeline: --image;
animation-name: show;

animation-range: entry 25% cover 30%;
animation-fill-mode: both;
}

/* Responsive */

/* RESPONSIVE TABLET 1250px*/
@media (max-width: 1250px) {
.five {
grid-column: 4 / 11;
}

.six {
grid-column: 4 / 11;
}
}

/* RESPONSIVE TABLET 1024px*/
@media (max-width: 1024px) {

.twotwo {
grid-column: 3 / 12;
}

.five {
grid-column: 1 / 11;
margin-left: 20px;
}

.six {
grid-column: 1 / 11;
margin-left: 20px;
}

.seven {
grid-column: 11 / 22;
margin-left: 20px;
}

.eight {
grid-column: 11 / 19;
}
}

/* RESPONSIVE TABLET 900px*/
@media (max-width: 900px) {
.twotwo {
    grid-column: 3 / 14;
}
}

/* RESPONSIVE 800px*/
@media (max-width: 800px) {


    .sd {
        font-size: 14px;
    }

    .info {
        font-size: 16px;
    }

    .subtitle {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .slogan {
        font-size: 15px;
    }

    .servicios-nombre {
        font-size: 16px;
    }

    .servicios-boton {
        font-size: 16px;
    }

    .general-boton {
        font-size: 16px;
    }

    .footer-section h3 {
        font-size: 18px;
    }

    .footer-section a {
        font-size: 16px;
    }

    .footer-bottom {
        font-size: 14px;
    }
    
    .five {
        grid-row: 31 /36;
        grid-column: 1 / 11;
    }

    .six {
        grid-row: 31/ 36 ;
        grid-column: 11 / 22;
        margin-right: 20px;
    }

    .seven{ 
        grid-column: 1 / 22;
        margin: 0;
        margin-left: 50px;
        margin-right: 50px;
    }

    .eight {
        grid-column: 1 / 22;
        margin: 0;
        margin-left: 50px;
        margin-right: 50px;
    }

    .four {
        grid-row: 33 / 38 ;
    }

    .nineteen {
        grid-row: 38;
    }

    .thirty {
        grid-row: 39;
    }

    @keyframes show {
from {
    opacity: 0;
    scale: 25%;
}

to {
    opacity: 1;
    scale: 100%;
}
}

.five, .six{
view-timeline-name: --image;
view-timeline-axis: block;

animation-timeline: --image;
animation-name: none;

animation-range: entry 25% cover 30%;
animation-fill-mode: both;
}
}

/*  RESPONSIVE 600px   */

.menu-toggle, .close-menu {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        color: black;
        cursor: pointer;
    }

    @media (max-width: 600px) { 

        .menu-toggle {
            display: block;
            color: white;
        }

          header.scrolled .menu-toggle {
        color: black; /* Color de los enlaces cuando se desplaza */
      }

        header.scrolled .links a {
        color: #e5e5e5; /* Color de los enlaces cuando se desplaza */
      }

             header.scrolled .links button{
        color:#e5e5e5; /* Color de los enlaces cuando se desplaza */
      }

        .links {
            position: fixed;
            top: 0;
            left: -100%;
            width: 250px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);
            flex-direction: column;
            align-items: start;
            padding: 60px 20px;
            transition: left 0.3s ease-in-out;
        }

        .links a {
            display: block;
            font-size: 20px;
            padding: 10px 0;
            color: white;
        }

        .links button {
            display: block;
            font-size: 20px;
            padding: 10px 0;
            color: white;
            margin-left: 12px;
        }

        .links.active {
            left: 0;
            color: white;
        }

        .close-menu {
            display: block;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 28px;
            color:white;
        }
.two {
    grid-row: 1 / 13;
}

.three {
    grid-row: 13;
}

.nineteen {
    grid-row: 43;
}

.thirty {
    grid-row: 44;
}

.five {
    grid-row: 26 / 30;
    grid-column: 1 / 22;
    margin: 0;
    margin: 15px;
}

.six {
    grid-row:  30 / 34;
    grid-column: 1 / 22;
    margin: 0;
    margin: 15px;
}
.seven {
    grid-row: 15 / 26   ;
    margin: 0;
    padding-bottom: 210px;
}

.eight {
    grid-row: 34 / 42;
    margin: 0;
}

.twotwo {
    grid-column: 1 / 22;
    grid-row: 7 / 13;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nineteen {
    grid-row: 35;
}

.thirty {
    grid-row: 36 / 38;
}

.subtitle {
    text-align: center;
    font-size: 28px;
}

}

/* RESPONSIVE 440px*/
@media (max-width: 440px) {
    .eight {
    margin: 5px;
    }
}